@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@700&display=swap');
body{
    margin: 0;
    font-family: 'Alfa Slab One', cursive;
    background: #111;
    font-size: larger;
}
*{
    box-sizing: border-box;
}
h1,h3{
    font-weight: 100;
}
.weather-app{
    min-height: 100vh;
    background-image: url(./weather.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.88);
    position: relative;
    transition: 500ms;
    opacity: 1;
     /*  change to 0 once whole app is finished  */
}
.weather-app::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 0;
}
.try{
    position: relative;
    top: 50vh;
}
.nav{
    background-color: rgba(185, 185, 185, 0.221);
    color: rgba(255, 255, 255, 0.136);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
    height: 16vh;
    width: 60vw;
    border: 1px solid rgba(255, 255, 255, 0.461);
    border-radius: 1rem;
    font-size: large;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}
.navlist{
    position: relative;
    left: 90px;
}
.navlist li{
    display: inline;
    padding: 30px;
}
.navlist li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.942);
}
.navlist li a:hover{
    cursor: pointer;
    color: rgba(237, 233, 4, 0.866);
    transition: ease-in 0.1s;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: rgb(14, 71, 192);
    padding: 7px;
}
.container{
    position: relative;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}
.brand{
    position:fixed;
    top: calc(5vh - 9px);
    font-size: 20px;
}
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.city-time, .temp, .weather{
    margin: 0 1em;
}
.city-time h1{
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}
.temp {
    font-size: 7em;
    margin: 0;
}
.weather img{
    display: block;
    margin: 0.5em 0;
}
.panel{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}
.panel form{
    margin-bottom: 3em;
}
.submit{
    position: absolute;
    top: 25px;
    right: 54px;
    padding: 1em;
    margin: 0;
    border: none;
    border-radius: 100%;
    outline: none;
    background: rgb(72, 90, 228);
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}
.submit:hover{
    background: #fff !important;
    color: #000;
}
.search{
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5em 0;
    width: 80%;
    color: #fff;
    font-size: 1.1em;
}
.search:focus{
    outline: none;
}
.search::placeholder{
    color: #ccc;
}
.panel ul{
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
}
.panel ul li{
    color: #ccc;
    margin: 2.5em 0;
}
.panel ul h4{
    margin: 3em 0;
}
.submit img{
    color: white;
    height: 100%;
    width: 100%;
    opacity: 1;
}
.city{
    display: block;
    cursor: pointer;
}
.city:hover{
    color: #fff;
}
.details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px){
    .panel, .container{
        position: relative;
        width: 100%;
        top: initial;
    }
}

@media screen and (max-width: 500px){
    html{
        font-size: 12px;
    }
}

@media screen and (max-width: 300px){
    .weather-app{
        min-height: 40em;
    }
}
